@using ProyectoFinal.DTO.Requests;
@model CreateUserRequest
<div>
    <form asp-action="Register" method="post">
        <div class="card-body p-5 text-center form-form">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert " role="alert">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }
            <div class="mb-md-5 mt-md-4 pb-5 register-form">
                <h2 class="fw-bold mb-2">Registrarse</h2>
                <p class="text-white-50 mb-5">Ingresa los datos para crear tu usuario!</p>
                <div class="form-outline form-white mb-4">
                    <label class="form-label" asp-for="@Model.UserName">Nombre de Usuario</label>
                    <div class="input-group">
                        <div class="input-group">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </div>
                        <input type="text" asp-for="@Model.UserName" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="form-outline form-white mb-4">
                    <label class="form-label" asp-for="@Model.Email">Email</label>
                    <div class="input-group">
                        <div class="input-group">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <input type="email" class="form-control form-control-lg" asp-for="@Model.Email" />
                    </div>
                </div>
                <div class="form-outline form-white mb-4">
                    <label class="form-label" asp-for="@Model.Pass">Contraseña</label>
                    <div class="input-group">
                        <div class="input-group">
                            <span asp-validation-for="@Model.Pass" class="text-danger"></span>
                        </div>
                        <input type="password" asp-for="@Model.Pass" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="text-center mt-4 pt-1">
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Confirmar</button>
                    <hr style="background-color:white" />

                    <a class="btn btn-outline-light btn-lg" asp-controller="Account" asp-action="ExternalLogin" asp-route-Provider="Google">
                        <i class="fab fa-google me-2 mr-2"></i>Ingresa con Google
                    </a>
                </div>
            </div>
            <p class="have-account">
                Ya tienes cuenta?
                <a href="@Url.Action("Login")" class="ml-2">Iniciar Sesion</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}